<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
      <a href="/" class="active">Home</a>
      <a href="/list">List of Recipes</a>
      <a href="/recipe">Recipe</a>
      <a href="/addrecipe">Add Recipe</a>
    </nav>

    <img src="/images/steak.jpg"width="300" height="300">
    <p>Hi there! Welcome to RecipeHub where I share my passion for cooking and experimenting with new recipes. With years of experience under my belt, I'm excited to share my creations with you.</p>

    <p>Indulge in flavors you love! My favorite dish is a mouth watering steak. A tender and juicy cut of beef, expertly grilled or
      pan-seared to bring out its natural flavors. The outside is a rich brown
      crust, seared to perfection with a satisfying crunch giving way to the
      velvety tenderness within. The first bite releases a burst of savory
      flavor, with hints of charred sweetness and a subtle depth of meaty
      richness. As you chew, the juicy fibers melt in your mouth, coating your
      taste buds with a luxurious beefiness.</p>

      
      <div class="content-container">
        <p>You have a couple of options here:</p>
        
        <ol>
          <li>Click on the 'List of Recipes' link above to view recipes organized by protein types.</li>
          <li>Click on the 'Recipe' link to view a selected recipe and more details.</li>
          <li>Click on 'Add Recipe' to add your own recipe.</li>
        </ol>
      </div>
  </body>
</html>
